
<head>

 <script src="https://kit.fontawesome.com/1164413ddc.js" crossorigin="anonymous"></script>
</head>
<i class="fas fa-phone-alt"></i>
<i class="fas fa-at"></i>
<i class="fab fa-github"></i>
<i class="fas fa-map-marker-alt"></i>
<i class="fas fa-globe"></i>
<i class="fab fa-linkedin"></i>
<i class="fab fa-instagram-square"></i>
<i class="fab fa-behance"></i>
<i class="fas fa-graduation-cap"></i>
<i class="fas fa-briefcase"></i>
<i class="fas fa-star"></i>
<i class="fab fa-python"></i>
<i class="fab fa-java"></i>
<i class="fab fa-js-square"></i>
<i class="fas fa-database"></i>
<i class="fab fa-aws"></i>
