body {
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 450px) {

    header h1 {
        margin: 0;
    }

    nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    nav li {
        flex: 1;
        text-align: center;
    }

    ul {
        list-style: none;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    footer {
        display: flex;
    }

    a {
        text-decoration-line: none;
    }
}