header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    border: 1px solid black;
}
h1 {
    text-align: center;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-height: 500px;
    overflow: scroll;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

  article img {
      border: 1px solid black;
    max-width: 100%;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

ul {
    list-style-type: none;
  }