input {
    display: block;
}

/*---HEADER---*/

div {
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
}

header {
    flex: 1;
    min-width: 255px;
}

/*---NAV---*/

nav {
    flex: 1;
    min-width: 350px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav li {
    flex: 1;
    text-align: center;
}

/*----MAIN----*/

main {
    display: flex;
    flex-wrap: wrap;
}

.form {
    border: 1px solid black;
    flex: 2;
    height: 850px;
    overflow: visible scroll;
    min-width: 340px;
}

.preview {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;
    min-width: 590px;
}

.pdf {
    border: 1px solid black;
    height: 800px;
    width: 566px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

/*---REFORMAT DEFAULT---*/

a {
    text-decoration-line: none;
    color: black;
}

ul {
    list-style: none;
}

@media screen and (max-width: 630px) {
    .pdf {
        width: 300px;
        height: 423px;
    }

    .preview {
        min-width: auto;
        flex: 1;
    }
}