/*----HEADER----*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    border: 1px solid black;
}

/*----MAIN----*/

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;
    gap: 5px;
}

.form {
    border: 1px solid black;
    max-height: 600px;
    overflow: scroll;
    min-width: 400px;
}

.result {
    border: 1px solid black;
}

.button-control {
    border: 1px solid black;
}

/*----FOOTER----*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

ul {
    list-style-type: none;
  }

.editing {
    border: 1px solid black;
}

.result {
    border: 1px solid black;
}