header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    border: 1px solid black;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

ul {
    list-style-type: none;
  }