<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="edit.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div>
        <header>
            <h1>CV-FACTORY</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a>modèles</a>
                </li>
                <li>
                    <a>CV</a>
                </li>
                <li>
                    <a>profil</a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <section class="form">
            <details>
                <summary>Identité</summary>
                <ul class="identity">
                    <li>
                        <label for="first-name">prénom : </label><input type="text" id="first-name" name="firstname">
                    </li>
                    <li>
                        <label for="last-name">nom de famille : </label><input type="text" id="last-name"
                            name="lastname">
                    </li>
                    <li>
                        <label for="photo">photo : </label><input type="file" id="photo" name="photo">
                    </li>
                </ul>
            </details>
            <details>
                <summary>Coordonnées</summary>
                <ul class="contact-details">
                    <li>
                        <label for="address">adresse : </label><input type="text" id="address" name="address">
                    </li>
                    <li>
                        <label for="mail">email : </label><input type="email" id="mail" name="email">
                    </li>
                    <li>
                        <label for="telephone">téléphone : </label><input type="tel" id="telephone" name="phone">
                    </li>
                </ul>
            </details>
            <details>
                <summary>Expériences Professionnelles<button id="addExperienceButton">nouvelle</button></summary>
                <ul id="professional-experiences">
                </ul>
            </details>
            <details>
                <summary>Formations</summary>
                <ul id="trainings">
                    <li>
                        <details>
                            <summary>Formation 1</summary>
                            <ul class="training">
                                <li>
                                    <label for="school-name">nom de l'école : </label><input type="text"
                                        id="school-name" name="schoolname">
                                </li>
                                <li>
                                    <label for="duration">durée : </label><input type="text" id="duration"
                                        name="duration" placeholder="26/05/1992-11/10/2020">
                                </li>
                                <li>
                                    <label for="diploma">position : </label><input type="text" id="diploma"
                                        name="diploma">
                                </li>
                                <li>
                                    <label for="description">description : </label><input type="text" id="description"
                                        name="description">
                                </li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Formation 2</summary>
                            <ul class="training">
                                <li>
                                    <label for="school-name">nom de l'école : </label><input type="text"
                                        id="school-name" name="schoolname">
                                </li>
                                <li>
                                    <label for="duration">durée : </label><input type="text" id="duration"
                                        name="duration" placeholder="26/05/1992-11/10/2020">
                                </li>
                                <li>
                                    <label for="diploma">position : </label><input type="text" id="diploma"
                                        name="diploma">
                                </li>
                                <li>
                                    <label for="description">description : </label><input type="text" id="description"
                                        name="description">
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </section>
        <section class="preview">
            <article class="pdf"></article>
        </section>
    </main>
    <script>
        // get experience list Node
        var experiencesUlTag = document.querySelector("#professional-experiences");

        // get add experience button
        var addExperienceButton = document.querySelector("#addExperienceButton");

        function addFormJobExperience() {
            var detailTag = document.createElement("details");
            var summaryTag = document.createElement("summary");
            var ulTag = document.createElement("ul");
            var compagnyItem = document.createElement("li");
            var durationItem = document.createElement("li");
            var statusItem = document.createElement("li");
            var descriptionItem = document.createElement("li");
            var labelCompagnyTag = document.createElement("label");
            var inputCompagnyTag = document.createElement("input");
            var labelDurationTag = document.createElement("label");
            var inputDurationTag = document.createElement("input");
            var labelStatusTag = document.createElement("label");
            var inputStatusTag = document.createElement("input");
            var labelDescriptionTag = document.createElement("label");
            var inputDescriptionTag = document.createElement("input");

            detailTag.appendChild(summaryTag);
            detailTag.appendChild(ulTag);
            
            compagnyItem.appendChild(labelCompagnyTag);
            compagnyItem.appendChild(inputCompagnyTag);

            durationItem.appendChild(labelDurationTag);
            durationItem.appendChild(inputDurationTag);

            statusItem.appendChild(labelStatusTag);
            statusItem.appendChild(inputStatusTag);

            descriptionItem.appendChild(labelDescriptionTag);
            descriptionItem.appendChild(inputDescriptionTag);

            ulTag.appendChild(compagnyItem);
            ulTag.appendChild(durationItem);
            ulTag.appendChild(statusItem);
            ulTag.appendChild(descriptionItem);

            summaryTag.textContent = "Expérience professionnelle "+(experiencesUlTag.childElementCount+1);

            ulTag.setAttribute("class", "professional-experience");

            labelCompagnyTag.setAttribute("for", "compagny");
            labelCompagnyTag.textContent = "nom de l'entreprise";
            inputCompagnyTag.setAttribute("id", "compagny");
            inputCompagnyTag.setAttribute("name", "compagny");

            labelDurationTag.setAttribute("for", "duration");
            labelDurationTag.textContent = "durée";
            inputDurationTag.setAttribute("id", "duration");
            inputDurationTag.setAttribute("name", "duration");

            labelStatusTag.setAttribute("for", "status");
            labelStatusTag.textContent = "position";
            inputStatusTag.setAttribute("id", "status");
            inputStatusTag.setAttribute("name", "status");

            labelDescriptionTag.setAttribute("for", "description");
            labelDescriptionTag.textContent = "description";
            inputDescriptionTag.setAttribute("id", "description");
            inputDescriptionTag.setAttribute("name", "description");

            experiencesUlTag.appendChild(document.createElement("li").appendChild(detailTag));
        };
        function addFormFormation() {

        };
        function deleteFormItem() {

        };

        /*function addCvJobExperience() {

        }
        function addCvFormation() {

        }
        function deleteCvItem() {

        }*/
        addExperienceButton.addEventListener("click", addFormJobExperience);
    </script>
</body>

</html>