<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="edit.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div>
        <header>
            <h1>CV-FACTORY</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a>modèles</a>
                </li>
                <li>
                    <a>CV</a>
                </li>
                <li>
                    <a>profil</a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <section class="form">
            <details>
                <summary>Identité</summary>
                <ul class="identity">
                    <li>
                        <label for="first-name">prénom : </label><input type="text" id="first-name" name="firstname">
                    </li>
                    <li>
                        <label for="last-name">nom de famille : </label><input type="text" id="last-name"
                            name="lastname">
                    </li>
                    <li>
                        <label for="photo">photo : </label><input type="file" id="photo" name="photo">
                    </li>
                </ul>
            </details>
            <details>
                <summary>Coordonnées</summary>
                <ul class="contact-details">
                    <li>
                        <label for="address">adresse : </label><input type="text" id="address" name="address">
                    </li>
                    <li>
                        <label for="mail">email : </label><input type="email" id="mail" name="email">
                    </li>
                    <li>
                        <label for="telephone">téléphone : </label><input type="tel" id="telephone" name="phone">
                    </li>
                </ul>
            </details>
            <details>
                <summary>Expériences Professionnelles<button id="addExperienceButton">nouvelle</button></summary>
                <ul id="professional-experiences">
                </ul>
            </details>
            <details>
                <summary>Formations<button id="addTrainingButton">nouvelle</button></summary>
                <ul id="trainings">
                </ul>
            </details>
        </section>
        <section class="preview">
            <article class="pdf"></article>
        </section>
    </main>
    <script>
        // get experience list Node
        var experiencesUlTag = document.querySelector("#professional-experiences");
        var trainingsUlTag = document.querySelector("#trainings");

        // get add experience button
        var addExperienceButton = document.querySelector("#addExperienceButton");
        var addTrainingButton = document.querySelector("#addTrainingButton");

        function addFormJobExperience() {
            const labels = ["nom de l'entreprise", "durée", "position", "description"];
            
            var detailTag = document.createElement("details");
            var summaryTag = document.createElement("summary");
            var ulTag = document.createElement("ul");

            detailTag.appendChild(summaryTag);
            detailTag.appendChild(ulTag);
            
            summaryTag.textContent = "Expérience professionnelle "+(experiencesUlTag.childElementCount+1);
            ulTag.setAttribute("class", "professional-experience");

            labels.forEach(label => {
                ulTag.appendChild(newFormInput(label));
            });

            experiencesUlTag.appendChild(document.createElement("li").appendChild(detailTag));
        };

        function addFormTraining() {
            const labels = ["nom de l'école", "années", "diplôme", "description"];

            var detailTag = document.createElement("details");
            var summaryTag = document.createElement("summary");
            var ulTag = document.createElement("ul");

            detailTag.appendChild(summaryTag);
            detailTag.appendChild(ulTag);
            
            summaryTag.textContent = "Formation "+(trainingsUlTag.childElementCount+1);
            ulTag.setAttribute("class", "training");

            labels.forEach(label => {
                ulTag.appendChild(newFormInput(label));
            });

            trainingsUlTag.appendChild(document.createElement("li").appendChild(detailTag));
        };

        function newFormInput(label) {
            let formInput = document.createElement("li");
            let labelElement = document.createElement("label");
            let inputElement = document.createElement("input");
            labelElement.textContent = label;
            formInput.appendChild(labelElement);
            formInput.appendChild(inputElement);
            return formInput;
        }

        function deleteFormItem() {

        };

        /*function addCvJobExperience() {

        }
        function addCvFormation() {

        }
        function deleteCvItem() {

        }*/
        addExperienceButton.addEventListener("click", addFormJobExperience);
        addTrainingButton.addEventListener("click", addFormTraining);
        // test
    </script>
</body>

</html>