<html>
    <head>
        <meta charset="utf-8"/>
        <link href="edit.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img src="./../images/fleche-retour.jpeg" alt="bouton retour en arrière"/>
            <h1>CV-FACTORY</h1>
            <img src="./../images/utilisateur.jpeg" alt="bouton compte utilisateur"/>
        </header>
        
        <footer>
            <div>
                <div>
                    navigation
                    <ul>
                        <li>accueil</li>
                        <li>candidat</li>
                        <li>recruteur</li>
                    </ul>
                </div>
                <div>
                    contact
                    <ul>
                        <li>elliot.r@free.fr</li>
                        <li>sikzen@gmail.com</li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>