header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    border: 1px solid black;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    flex: 1;
    max-width: 500px;
    margin: 20px;
}

a:link, a:visited
{color: black;
    text-decoration:none;}

nav li:hover{
    background-color: lightgray;
}

ul {
    list-style-type: none;
}

nav img {
    max-width: 100%;
    min-width: 300px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}