body {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 12;
    margin: 0;
    height: 100%;
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    color: blue;
}

/*----DEV----*/

header, nav, footer, main {
    border: 1px solid black;
}

/*----HEADER----*/

header {
    display: flex;
    grid-column: 1/7;
    grid-row: 1/2;
}

header h1 {
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

/*----NAV----*/

nav {
    display: flex;
    grid-column: 7/13;
    grid-row: 1/2;
}

nav ul {
    align-items: center;
    width: 100%;
    border: 1px solid black;
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    border: 1px solid black;
    flex: 1;
    text-align: center;
}

/*----MAIN----*/

main {
    grid-column: 1/13;
    grid-row: 2/12;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

article {
    min-width: 300px;
    max-width: 550px;
}

aside {
    border: 1px solid black;
    display: flex;
    gap: 5px;
    padding: 10px;
}

/*----FOOTER----*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

footer section ul {
    list-style: none;
}


footer {
    grid-column: 1/13;
    grid-row: 12/13;
}

@media screen and (max-width: 610px) {
    .model3 { display: none;}
}

@media screen and (max-width: 390px) {
    .model2 { display: none;}
}

img {
    border: 1px solid black;
}