<html>
    <head>
        <meta charset="utf-8"/>
        <link href="home.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <img alt="bouton retour en arrière"/>
            <h1>CV-FACTORY</h1>
            <img alt="bouton compte utilisateur"/>
        </header>
        <section>
            <article>
                <h1>Candidat</h1>
                <h2>Les modèles</h2>
                <img alt="bouton voir modèles"/>
                <p>Créer votre CV à partir de modèles originaux ou classiques 
                    adaptés à vos besoins. Télécharger votre CV au format 
                    pdf et partager le avec le monde entier. Publier votre CV
                    sur notre site pour maximiser votre visibilité. 
                </p>
            </article>
            <article>
                <h1>Recruteur</h1>
                <h2>Les candidats</h2>
                <img alt="bouton voir CV"/>
                <p>Consulter les CV des candidats qui ont choisi de vous 
                    montrer leurs talents.
                    Filtrer les candidats selon le profil que vous recherchez.
                    Prener contact avec vos candidats.
                </p>
            </article>
        </section>
        <footer>
            <div class="test">
                <div>
                    navigation
                    <ul>
                        <li>accueil</li>
                        <li>candidat</li>
                        <li>recruteur</li>
                    </ul>
                </div>
                <div>
                    contact
                    <ul>
                        <li>elliot.r@free.fr</li>
                        <li>sikzen@gmail.com</li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>